.parentDiv {
  display: flex;
  margin-top: 30px;
}

.contact {
  height: 70%;
  width: 23%;
  margin-left: 57px;
  text-align: center;
}

.contectDetail {
  background-color: white;
  position: relative;
  height: 340px;
  margin-top: 90px;
  margin-bottom: -21px;
  padding-top: 75px;
  border: 0px solid;
  border-radius: 12px;
  height: 484px;
}

.personel {
  background-color: #F2F7FC;
  width: 80%;
  margin-left: 23px;
  margin-top: 15px;
  border: px solid #F2F7FC;
  border-radius: 10px;
  padding-left: 10px;
  padding-top: 15px;
  text-align: center;
}

.icons {
  display: flex;
  justify-content: space-evenly;
  margin-left: 30px;
  width: 80%;
}

.project-info {
  margin-right: 16px;
  margin-left: 13px;
  opacity: 0.7;
}

.app-dev {
  width: 47%;
  height: 35%;
  background-color: rgb(232, 243, 248);
  border: 0px solid;
  border-radius: 10px;
}

.ui-dev {
  width: 47%;
  height: 35%;
  background-color: rgb(232, 243, 248);
  margin-top: 21px;
  border: 0px solid;
  border-radius: 10px;
}

.app-dev-img {
  padding-top: 8px;
  padding-left: 15px;
}

.dev-text {
  font-size: 23px;
  padding-left: 8px;
}

.app-dev-text {
  width: 47%;
  height: 35%;
  background-color: bisque;
  margin-top: 21px;
  border: 0px solid;
  border-radius: 10px;
}

.homeicons {
  display: flex;
  justify-content: end;
  margin-right: 75px;
}

.profileImage {
  position: absolute;
  z-index: 1;
  margin-left: -76px;
  border: 0px solid;
  border-radius: 10px;
}

.navbar {
  width: 28%;
  display: flex;
  justify-content: space-between;
  border: 0.5px solid #99646430;
  padding: 13px;
  border-radius: 22px;
}

.education {
  background-color: bisque;
  width: 30%;
  border: 0px solid;
  border-radius: 5px;
  padding-left: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-left: 54px;
}

.experiance {
  background-color: #FFEED9;
  width: 30%;
  border: 0px solid;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
}

.resumeInfo {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin-top: 10px;
}

.aboutme {
  width: 90%;
  background-color: white;
  margin-left: 44px;
  margin-top: 12px;
  border: 0px solid;
  border-radius: 12px;
}

.resumepage {
  width: 90%;
  background-color: white;
  margin-left: 44px;
  margin-top: -8px;
  border: 0px solid;
  border-radius: 12px;
}

.Skills {
  display: flex;
  justify-content: space-evenly;
  padding-left: 30px;
}

.skill {
  background-color: rgb(214, 210, 210);
  border: 0px solid;
  border-radius: 8px;
}

.portfolio {
  width: 90%;
  background-color: white;
  margin-left: 44px;
  margin-top: -8px;
  border: 0px solid;
  border-radius: 12px;
}

.development {
  width: 55%;
  display: flex;
  justify-content: space-evenly;
  margin-left: 344px;


}

.work {
  width: 39%;
  height: 35%;
  background-color: bisque;
  border: 0px solid;
  border-radius: 5px;
  margin-left: 80px;
  margin-top: 20px;


}

.Contact {
  width: 90%;
  background-color: white;
  margin-left: 44px;
  border: 0px solid;
  border-radius: 12px;
  margin-top: -8px;
}

.phone {
  width: 32%;
  height: 15%;
  background-color: bisque;
  margin-left: 74px;
  padding-top: 25px;
  padding-left: 40px;
  border: 0px solid;
  border-radius: 12px;
  padding-bottom: 35px;
}

.email {
  width: 32%;
  background-color: rgb(232, 243, 248);
  margin-left: 74px;
  padding-top: 25px;
  padding-left: 15px;
  border: 0px solid;
  border-radius: 12px;
  padding-bottom: 35px;
}

.submit {
  width: 78%;
  background-color: #F8FBFB;
  margin-left: 74px;
  margin-top: 35px;
  padding-bottom: 15px;
  border: 0px solid;
  border-radius: 14px;

}

.tech-mentor {
  color: gray;
  font-size: 10px;
}

.font-size {
  font-size: 12px;
  font-size: 12px;
  font-size: 12px;
}

.color-gray {
  color: grey;
}

.d-flex {
  display: flex;
}

.rec-img {
  padding-left:7px;
  padding-top: 4px;
}

.project-info-basic{
  font-size: 8px;
  color: gray;
  padding-left: 5px;
}

.project-title {
  padding-left: 5px;
}

.contact-phone {
  padding-left: 75px;
  padding-top: 28px;
}

.number {
  padding-left: 35px;
  font-size: 17px;
}

.padding-left {
  padding-left: 30px;
}

.submit-btn {
  background-color: #F8FBFB;
  border: 1px solid orangered;
  font-size: 10px;
  border-radius: 10px;
  margin-left: 30px;
  padding: 5px 16px 5px 16px;
}
