.educationCol {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-left: 5%;
}

.education {
  background-color: bisque;
  border: 0px solid;
  border-radius: 5px;
  padding-left: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 20px;
  padding-right: 5%;
}

.experiance {
  background-color: #FFEED9;
  border: 0px solid;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  margin-top: 20px;
}

.resumepage {
  width: 90%;
  background-color: white;
  border: 0px solid;
  border-radius: 12px;
  padding-bottom: 40px;
}

@media screen and (max-width:578px)  {
  .educationCol {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 5%;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  .education {
    background-color: bisque;
    border: 0px solid;
    border-radius: 5px;
    width: 90%;
    padding-right: 5%;
  }

  .experiance {
    background-color: #FFEED9;
    border: 0px solid;
    border-radius: 5px;
    /* padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px; */
    width: 90%;
  }
}
